<div class="kakomi-maru4">
  <span class="title-maru4">登録情報編集</span>
  <%= form_with model: @user, url: user_path ,method: :PATCH do |f| %>
    <div class="infonmation_edit">
      <div>
        <%= f.label :"氏名", class: "col-sm-3 control-label", style: "margin-top: 10px;" %>
        <%= f.text_field :name, class: "col-sm-3 form-control-static name"%>
      </div>
      <div>
        <%= f.label :"メールアドレス", class: "col-sm-3 control-label", style: "margin-top: 10px;" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-6 form-control-static"%>
      </div>
      <div>
        <%= f.label :"ニックネーム", class: "col-sm-3 control-label", style: "margin-top: 10px;" %>
        <%= f.text_field :nickname, class: "col-sm-3 form-control-static"%>
      </div>
      <div>
        <%= f.label :"年齢", class: "col-sm-3 control-label", style: "margin-top: 10px;" %>
        <%= f.text_field :age, class: "col-sm-2 form-control-static" %>
      </div>
      <div>
        <%= f.label :"情報公開", class: "col-sm-3 control-label", style: "margin-top: 10px;" %>
        <td>
          <%= f.radio_button :public, :false %>
          <%= f.label :public, "非公開"  %>
          <%= f.radio_button :public, :true %>
          <%= f.label :public, "公開" %>
        </td>
      </div>
    </div>
      <div class="infonmation_edit_button"><%= f.submit "編集内容を保存", class: "btn btn-outline-success" %></div>
      <div class="infonmation_edit_button"><%= link_to " 退会する",  user_unsubscribe_path(@user.id), class: "btn btn-outline-danger" %></div>
  <% end %>
</div>