<div class = "container">
  <div class="row">
    <div class="col-xs-12">
    <h3><strong>マイページ</strong></h3>

      <table class="table table-bordered table-condensed">
        <p>
          <strong class="information-link">登録情報</strong>
          <%= link_to " 編集する", edit_user_path, class: "glyphicon glyphicon-pencil btn btn-success" %>
        </p>
        <tr>
          <div class="col-xs-2">氏名</div>
          <div><%= current_user.name %></div></br>
        </tr>
        <tr>
          <div class="col-xs-2">メールアドレス</div>
          <div><%= current_user.email %></div></br>
        </tr>
        <tr>
          <div class="col-xs-2">ニックネーム</div>
          <div><%= current_user.nickname %></div></br>
        </tr>
        <tr>
          <div class="col-xs-2">年齢</div>
          <div><%= current_user.age %></div></br>
        </tr>
        <tr>
          <div class="col-xs-2">情報公開</div>
            <% if @user.public == true %>
              <div class="status_true">公開</div>
            <% else %>
              <div class="status_falese">非公開</div>
            <% end %>
          </div>
        </tr>
      </table>
    </div>
  </div>
</div>
