<div class="kakomi-maru4">
  <span class="title-maru4">登録情報</span>
  <%= link_to " 編集する", edit_user_path, class: "btn btn-outline-success col-sm-3"%>
  <br>
  <br>
    <tr>氏名</tr>
    <td><%= current_user.name %></td></br>
    <tr>メールアドレス</tr>
    <td><%= current_user.email %></td></br>
    <tr>ニックネーム</tr>
    <td><%= current_user.nickname %></td></br>
    <tr>年齢</tr>
    <td><%= current_user.age %></td></br>
    <tr>情報公開</tr>
    <td>
      <% if @user.public == true %>
        公開
      <% else %>
      非公開
      <% end %>
    </td>
  </br>
</div>
