<h4>パスワードを忘れた場合</h4>
<strong>アカウントにアクセスするためのログインリンクを送信するため、<br>
      メールアドレスを入力してください。</strong><br><br>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "\uf0e0", class: 'fa' %>
  </div>

  <div class="actions">
    <%= f.submit "パスワード再設定用メールを送信" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

