<!DOCTYPE html>
  <html  lang="ja">
    <head>
      <!--<link rel="stylesheet" href="times.scss">-->
    </head>
    <body>
      <div id ="time" class="time"></div>
      <h4><div class="clock" id="clock">0</div></h4>
      <!--<svg class="progress-ring" height="120" width="120">-->
      <!--    <circle class="progress-ring＿circle"-->
      <!--            stroke-width="8"-->
      <!--            fill="transparent"-->
      <!--            r="50"-->
      <!--            cx="60"-->
      <!--            cy="60"-->
      <!--    />-->
      <!--</svg>-->
      <div class="btn_group">
        <button id="start" style="margin: 10px;">開始</button>
        <button id="reset" style="margin: 10px;">リセット</button>
        <button id="stop" style="margin: 10px;">一時停止</button>
      </div>
  
        <%= form_with model: @timer, url: timers_index_path, method: :PATCH do |f| %>
        <div class="col-xs-12">
          <%= f.label :"ワークアウト秒数", class: "col-sm-3 control-label", style: "margin: 10px;" %>
          <%= f.text_field :work_seconds, class: "col-sm-8 form-control-static", style: "margin: 10px;" %>
        </div>
        <div class="col-xs-12">
          <%= f.label :"休憩秒数", class: "col-sm-3 control-label", style: "margin: 10px;" %>
          <%= f.text_field :rest_seconds, class: "col-sm-4 form-control-static", style: "margin: 10px;" %>
        </div>
        <div class="col-xs-12">
          <%= f.label :"セット回数", class: "col-sm-3 control-label", style: "margin: 10px;" %>
          <%= f.text_field :set_time, class: "col-sm-4 form-control-static", style: "margin: 10px;" %>
        </div>
        
      <% end %>
    </body>
</html>