  <body>
    <section class="timer">
      <div class="clock" id="clock">000</div>

      <form>
        <div class="btn_group">
          <input type="button" id="start" value="開始">
          <input type="button" id="stop" value="一時停止" disabled>
          <input type="button" id="restart" value="再開" disabled>
         <input type="button" id="reset" value="リセット" disabled>
        </div>
      </form>
      <%= form_with model: @timer, local: true do |f| %>
        <div class="">
          <%= f.label :"ワークアウト秒数", class: "col-sm-3 control-label"%>
          <%= f.text_field :work_seconds, class: "col-sm-2 form-control-static", style: "margin-bottom: 10px;" %>
        </div>
        <div class="">
          <%= f.label :"休憩秒数", class: "col-sm-3 control-label" %>
          <%= f.text_field :rest_seconds, class: "col-sm-2 form-control-static", style: "margin-bottom: 10px;" %>
        </div>
        <div class="">
          <%= f.label :"セット回数", class: "col-sm-3 control-label"%>
          <%= f.text_field :set_time, class: "col-sm-2 form-control-static", style: "margin-bottom: 10px;" %>
        </div>
        <%= f.submit "保存", class: "btn btn-primary col-sm-3" %>
      <% end %>
    </section>
  </body>
</html>