

<div class = "container">
  <div class="row">
    <div class="col-xs-12">
      <h3><strong>タイマー設定画面</strong></h3>
      <%= form_with model: @user, url: user_path ,method: :PATCH do |f| %>
        <div>
          <div class="col-xs-12">
            <%= f.label :"ワークアウト", class: "col-sm-3 control-label", style: "margin: 10px;" %>
            <%= f.text_field :second_work, class: "col-sm-3 form-control-static", style: "margin: 10px;" %>
          </div>
          <div class="col-xs-12">
            <%= f.label :"休憩", class: "col-sm-3 control-label", style: "margin: 10px;" %>
            <%= f.text_field :second_rest, class: "col-sm-2 form-control-static", style: "margin: 10px;" %>
          </div>
          <div class="col-xs-12">
            <%= f.label :"セット数", class: "col-sm-3 control-label", style: "margin: 10px;" %>
            <%= f.text_field :set_time, class: "col-sm-2 form-control-static", style: "margin: 10px;" %>
          </div>
        </div>

        <div class="actions col-xs-10 col-xs-offset-2">
          <p>
            <%= link_to " 保存",  timers_index(@user), class: "glyphicon glyphicon-tint btn btn-primary text-align: left" %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>